<div class="search-container">
    <section>
        <form action="">
            <input type="text" placeholder="Filter by federation" #filterFederation/>
            <button class="primary" type="button" (click)="filterResultsByFederation(filterFederation.value)">Search</button>
        </form>
    </section>
    <section>
        <form action="">
            <input type="text" placeholder="Filter by show" #filterShow/>
            <button class="primary" type="button" (click)="filterResultsByShow(filterShow.value)">Search</button>
        </form>
    </section>
</div>
<section class="results">
    <app-wrestler *ngFor="let wrestler of filteredWrestlerList" [wrestler]="wrestler"></app-wrestler>
</section>

