<div class="search-container">
    <section>
        <form action="">
            <input type="text" placeholder="Filter by federation" />
            <button class="primary" type="button">Search</button>
        </form>
    </section>
    <section>
        <form action="">
            <input type="text" placeholder="Filter by show" />
            <button class="primary" type="button">Search</button>
        </form>
    </section>
</div>
<section class="results">
    <app-wrestler [wrestler]="wrestler"></app-wrestler>
</section>

